* {
    box-sizing: 0;
  }
body{
    background-image: -webkit-radial-gradient(center bottom, ellipse cover, #5b1c4d, #0f0c3b);
}
#rectangle{
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100px;
    right: 0px;
    left: 0px;
    top: 0px;
    background: #110e3c;
    opacity: 80%;
}
aside{
    float: right;
    width: 48%;
    text-align: left;
}
main {
    width: 48%;
    float: left;
}
nav, header, main, footer {
    text-align: center;
    margin-bottom: 10px;
    padding: 5px;
}
section, aside {
    margin-top: 15%;
}
footer{
    clear: both;
    height: 60px;
}


#rlc{
    position: absolute;
    top: 25px;
    text-decoration: none;
    flex-direction: row;
    font-family: Verdana;
    font-style: normal;
    font-weight: semi-bold;
    font-size: 45px;
    line-height: 42px;
    text-align: center;
    background: -webkit-linear-gradient(#a06c74, #7c345a, #b0195e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#photoName{
    position: absolute;
    width: 100%;
    height: 2300px;
    left: 0px;
    top: 80px;
    background-image: radial-gradient(center bottom, ellipse cover, #5b1c4d, #0f0c3b);
	background-image: -o-radial-gradient(center bottom, ellipse cover, #5b1c4d, #0f0c3b);
	background-image: -ms-radial-gradient(center bottom, ellipse cover, #5b1c4d, #0f0c3b);
	background-image: -moz-radial-gradient(center bottom, ellipse cover, #5b1c4d, #0f0c3b);
	background-image: -webkit-radial-gradient(center bottom, ellipse cover, #5b1c4d, #0f0c3b);
}
#photoProfile{
    display: flex;
    max-width: 100%;
    width: 250px;
    height: 250px;
    padding: 10px;
    border-radius: 50%;
    margin: 50px auto;
    border: 5px solid #b0195e ;
}
h1{
    font-size: 40px;
    font-weight: bold;
    font-style: Roboto;
    color: #ffffff;
}
h2{
    font-size: 30px;
    font-style: Roboto;
    color: #ffffff;
}
p{
    font-size: 24px;
    font-style: Roboto;
    color: #ffffff;
}
.container{
	margin: 0 auto;
	display: flex;
    flex-wrap: wrap;
    clear: both;
    height:30%;
}
#item{
    flex: 1;
	margin: 30px;
	text-align: center;
    width: 100px; 
    height: 120px;
}
.icons{
    font-size: 50px; 
    text-decoration: none;
    color: #ffffff;
    word-spacing: 30px;
}